.toggle.green {
  border-image: none;
  background-image: none;
  background-color: green;
}

.toggle.red {
  border-image: none;
  background-image: none;
  background-color: red;
}

.toggle.yellow {
  border-image: none;
  background-image: none;
  background-color: yellow;
}